html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;

 
  transition: all ease 0.3s;
  background-repeat: no-repeat;
  
}

header {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
  transition: all 0.5s ease;
}

header:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header:hover a {
  color: #000000;

}

header a:hover {
  font-weight: 800;
}

.logo img {
  height: 100px;
  margin-right: 40px;
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(0) invert(1);
}

.logo img:hover {
  transform: scale(1.1);
}

header:hover .logo img {
  filter: brightness(0); 
}

.menu-category {
  display: flex;
  align-items: center;
}

.menu-category ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 50px;
  padding: 0;
  align-items: center;
  font-weight: bolder;
}

.menu-category ul li {
  margin: 0 20px;
  font-weight: bolder;
}

.menu-category ul li a {
  font-size: 16px;
  position: relative;
  font-weight: 600;
}

.menu-category ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2fb5d2;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
  font-weight: 900;
}

.menu-category ul li a:hover::after {
  width: 100%;
}

.menu-user {
  display: flex;
  align-items: center;
}

.icone {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

header svg {
  fill: transparent;
  stroke: #ffffff;
  transition: stroke 0.3s ease;
}

header:hover svg {
  stroke: #000000;
}

#magasin {
  margin-right: 15px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: -1; 
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.carousel-image.active {
  display: block;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}